#game div {
  background-color: white;
  border: 2px solid black;
  border-radius: 9%;
  width: 120px;
  height: 200px;
  margin: 15px;
  display: inline-block;
  /* display: flex;
  justify-content: center; */
}
body {
  background-image: url(pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg);
  background-size: contain;
  background-repeat: repeat;
}
section {
  margin: auto;
  width: 800px;

}
h1 {
  color: white;
  background-color: #7247c7;
  border: 2px solid white;
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}
#emoji {
  border: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  line-height: 100px;
  justify-content:center;
  padding-top: 40%;
}

